p {
    font-size: 14px;
}

h1 {
    font-size: 24px;
    /*0は単位省略が一般*/
    margin: 0;
}

.content {
    background-color: #fff;
    /*divの幅*/
    width: 600px;
    /*width: 600px;*/
    /**上下(0)　左右(auto)で設定**/
    margin: 10px auto;

    /*↑と同様の意味
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    */

    border: 1px solid #d1d1d1;
    /*内側の余白　marginと同じ考えかた*/
    padding: 30px;
}

input {
    /*線の太さ なし*/
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    /*画面幅に対する表示*/
    width: 100%;

    padding: 8px;
}

button {
    width: 100%;
    background-color: #2096f3;
    /*文字色*/
    color: #fff;
    /*線の太さ　0*/
    padding: 15px;
    border: 0;
    /*枠の角を丸める*/
    border-radius: 3px;

    /*影のx座標 影のy座標 ぼかし具合　rgba( , , , 不透明度(.4->40$))*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .4 );
}

.required {
    color: rgb(224, 25, 25);
    font-size: .9em;
    /**/
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}

body {
    background-color: #fafafa;
}

.control {
    /*外側の余白（下）*/
    margin-bottom: .5em;
}

label {
    display: block;
    margin-bottom: .3em;
}




        

